/***General rules***/

html{
	font-size: 62.5%;
	-moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body{
	font-family: Georgia, sans-serif;
    font-size: 1.5rem;
}


.navbar-default{
	padding-top: 30px;
	padding-bottom: 30px;
}