/***General rules***/
html {
    font-size: 62.5%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: Georgia, sans-serif;
    font-size: 1.7rem;
}

footer{
    padding: 30px;
    background-color: #7749cd;
}
aside {
    border: solid brown;
}
/*** Bootrap overridden classes***/

.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.carousel-control {
    border-radius: 4px;
}
.page-header {
    text-align: center;
    border-width: 2px;
    width: 50%;
}

/***Custom rules***/
[class^="img-responsive"]{
    width: 500px;
    margin: auto;
}

#newsfeed{
    margin-top: 30px;
}

#footerlogo{

}


