/***GENERAL RULES***/

html {
	font-size: 62.5%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: "Josefin Slab", Georgia, sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
	background-image: url("../../img/guitar.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
	color: antiquewhite;
}

input {
	margin-top: 15px;
}

h2 {
	font-size: 2.6rem;
}

footer {
	padding: 20px;
	margin-top: 30px;
	background-color: #0f0f0c;
}

/*** BOOTSTRAP OVERRIDDEN CLASSES***/

.navbar {

	padding-bottom: 45px;
	margin-bottom: 30px;
	background-color: rgba(45, 150, 30, 0.2);
}

.carousel-control {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.carousel-caption > h2, .carousel-caption p {
	color: floralwhite;
	font-family: "Amatic SC", sans-serif;
	font-size: 3rem;
	text-shadow: 1px 1px #c8533a;
}

.page-header {
	text-align: center;
	border-width: 2px;
	width: 70%;
	color: antiquewhite;
}

.panel-body span {
	line-height: 120%;
	color: #140c0e;
	font-size: 1.5rem;
	padding: 5px;
}

.panel-body {
	background-color: antiquewhite;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.form-control {
	margin-top: 20px;
}

/***CUSTOM RULES***/

.newspost-icon + span {
	font-size: 1.4rem;
}

#search-form {
	margin-bottom: 20px;
}

.searchbar {
	margin-top: 5%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#albumframe {
	background-color: antiquewhite;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 5px;
}

.rotate:hover {
	cursor: pointer;
	-ms-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}

.rotate.playing {
	-webkit-transition: border 0.3s ease-in-out;
	-moz-transition: border 0.3s ease-in-out;
	-ms-transition: border 0.3s ease-in-out;
	-o-transition: border 0.3s ease-in-out;
	transition: border 0.3s ease-in-out;
	border: 10px solid #f66042;
	box-shadow: rgba(220, 78, 75, 0.4) 4px 2px 3px, inset rgba(220, 78, 75, 0.4) 4px -3px 2px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

[class^="img-responsive"] {
	width: 500px;
	margin: auto;
}

#mainheader {
	font-family: "Amatic SC", sans-serif;
	padding-top: 10px;
	font-size: 4.0rem;
}

#mainheader:hover {
	color: #a5527a;
}

.mainnav {
	font-family: "Amatic SC", sans-serif;
	padding-top: 10px;
	font-size: 2rem;
}

.fa-spotify {
	color: lawngreen;
}

.fa-clock-o {
	font-size: 1.4rem;
}

#biotext {
	font-size: 1.2rem;
	padding: 5px;
	word-spacing: 1px;
}

.newspost-container {
	display: none;
	padding-top: 20px;
	margin-bottom: 20px;
}

.newstext {
	color: darkslategrey;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.newspost-header a {
	color: ghostwhite;
}

.newspost-header {
	font-size: 1.6rem;
	padding-bottom: 20px;
}

.newspost-icon {
	color: antiquewhite;
	font-size: 1.5rem;
	width: 90%;
	text-align: center;
}

#footerlogo {
	font-family: "Amatic SC", sans-serif;
	color: #faec91;
}

#footerlogo h2 > small {
	color: #faec91;
}

#footerlogo:hover {
	text-decoration: none;
	-webkit-transition: color .7s ease-in;
	-moz-transition: color .7s ease-in;
	-ms-transition: color .7s ease-in;
	-o-transition: color .7s ease-in;
	transition: color .7s ease-in;
	color: #a5527a;
	cursor: pointer;
}

.flip {
	max-width: 240px;
	height: 275px;
	margin: auto;
}

.flip img {
	background-color: antiquewhite;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
}

.flip .back {
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
	padding-top: 10px;
	background-color: antiquewhite;
	color: #140c0e;
	text-align: center;
}

.flip .back hr {
	width: 70%;
	border-color: #b268a5;
}

.flip .back button {
	font-size: 1rem;
}

#loading-icon {
	display: none;
	text-align: center;
}

#spotify-form-container {
	display: none;
	margin-top: 5%;
	margin-bottom: 5%;
}

.spotifyalbum-container {
	display: none;
}

#spotifyloading-icon {
	display: none;
	text-align: center;
}

#listentospotify {
	display: none;
}

/***MEDIA QUERIES***/

@media (max-width: 767px ) and (min-width: 320px) {
	#credits {
		font-size: 1.2rem;
	}

	#mainheader {
		font-size: 3.0rem;
	}

	.mainnav {
		font-size: 1.8rem;
	}
}

@media (min-width: 768px) {
	#mainheader, .mainnav {
		padding-top: 30px;
	}

	#credits {
		font-size: 1.7rem;
	}
}





